server:
  port: 8083
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: paletteduck-service
  profiles:
    active: local

jwt:
  secret: paletteduck-secret-key-must-be-at-least-256-bits-long
  expiration: 7200000

logging:
  level:
    root: INFO
    com.unduck.paletteduck: DEBUG